* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%; 
}

.nav-container {
    display: flex;
    justify-content: flex-end;
    border: 1px solid red;
    width: 100%;
}

.nav-container a {
    margin: 2rem;
}

h1 {
    font-size: 3rem;
    margin: 2rem;
}



.about-text {
    font-size: 2rem;
}

img {
    height: 400px;
}

a {
    font-size: 2rem;
    text-decoration: none;
}
